h1{
    color: aqua;
}

p{
    color: burlywood;
    text-size-adjust: 100%;
    text-align: center;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

.sad{
    color: whitesmoke;
}

.container-vid{
    width: fit-content;
    height: fit-content;
    border: 2px #2c3444 solid;
    border-radius: 5px;
    border-color: #2c3444;
}

.button:hover{
    background-color: #88a88b;
    color: white;
}

.vid{
    border: 1px #2c3444 solid;
    border-color: #2c3444;
}

.logo{
    border: 2px solid black;
}

.navcol{
    color:blanchedalmond;
}

body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    background-color: #2c3444;
}

nav li a[herf]{
    color:burlywood;
}
