h1{
    color: aqua;
}

#vid{
    border: #2c3444;
    border-radius: 3px;
}

.navcol{
    color:blanchedalmond;
}

body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    background-color: #2c3444;
}

nav li a[herf]{
    color:burlywood;
}
