{% extends 'base.html' %}

<head>
    <title>
        Intro Page
    </title>

</head>

{% block content %}
<body class="backg text-center">

    <div class="container-lg center-screen text-center pb-5">

      <div class="max-w-sm rounded overflow-hidden shadow-lg px-5 py-5">
        <h2 class= "text-center font-weight-bold"> Welcome to Registering / Managing system  </h2>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">presented by IVACS</div>      
        </div>

      <div class="flexbox_container">
        <div class="container">
            <form action="{{url_for('login_page')}}">
              <button class="btn btn-primary px-5 py-3"> login </button>
            </form>
        </div>  

        <div class="container">
          <form action = "{{url_for('registering')}}">
            <button class="btn btn-secondary"> Register (First time use) </button>
            </form>
        </div>

          <div class="container rounded ">
              <form action="{{url_for('admin_page')}}">
                <button class="btn btn-success px-auto"> See Activities log (For admin_page) </button>
              </form>
          </div>  
        </div>
    </div>
    </div>

  {% endblock %}

</body>