{% extends 'base.html' %}

<head>
    <title>
        Intro Page
    </title>

</head>

{% block content %}
<body class="backg text-center">

    <div class="container-lg center-screen text-center pb-5">

        <h2 class= "text-center font-weight-bold"> Welcome to Registering / Managing system  </h2>
      <div class="container-md mt-3 rounded">
          <form action="{{url_for('login_page')}}">
             <button class="btn btn-primary px-5"> login </button>
          </form>
      </div>  

      <div>
        <form action = "{{url_for('registering')}}">
          <button class="btn btn-secondary px-3 mt-3"> Register (First time use) </button>
          </form>
      </div>

        <div class="container-md mt-3 mb-3 rounded px-3">
            <form action="{{url_for('admin_page')}}">
               <button class="btn btn-success"> See Activities log (For admin_page) </button>
            </form>
        </div>  
    </div>
  {% endblock %}

</body>