{% extends 'base.html' %}

{% block content %}

    <div class="container-md mt-5">
        <h2>   This is History checking page  </h2>

    </div>

    <div class="container-lg">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">House number</th>
            <th scope="col">time attended</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>


    </div>

    <div class="row">
        
        <div class="col">
            <form action = '/home/' method="post" name = "home">       
                <button name = "home" type="submit" class="btn btn-secondary"> &#x2770; HOME </button>
            </form>
        </div>

        <div class="col"> 
            <form action = '/que/' method="post" name = "que">       
                <button name = "que" type="submit" class="btn btn-secondary"> &#x2771; Que </button>
            </form>
        </div>
    </div>

  {% endblock %}