<!DOCTYPE html>

<html lang="en">

<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">

    <title>IOT</title>
</head>

<body class="text-center">
  
    <nav class="navbar navbar-expand-lg">

        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#"> <img src="static/img/logo2.png" width="20%" class=""/></a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="row">
              <ul class="navbar-nav me-auto mb-5 mb-lg-0 ">
                <div class="col mx-3">
                  <li class="nav-item">
                    <a class="navcol nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
                  </li>
                </div>
                <div class="col mx-3">
                  <li class="nav-item">
                    <a  class="navcol nav-link" href="{{ url_for('history')}}">History</a>
                  </li>
                </div>
                <div class="col mx-3">
                  <li class="nav-item">
                    <a  class="navcol nav-link" href="{{ url_for('que') }}" role="button" aria-expanded="false">
                      Que
                    </a>
                  </li>
                </div>
              <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
            </ul>
            </div>
          </div>

          <div class="d-flex flex-row">

                  <div style="visibility: {{id_visible}};">
                    <button class="btn btn-outline-secondary bg-light px-5" type="submit"> 
                      <i>                  
                      {{ id }}
                      </i> 
                    </button>
                  </div>
                  <div style="visibility: {{visible}};">
                    <button class="btn btn-outline-secondary bg-light px-5" type="submit"> 
                    <img src="static/img/less_emoji.svg" />
                    </button>
                  </div>
                
            </button>
          </div>


      </nav>

    <div id = "names" class = "container-fluid text-center mt-3 p-2">

      <div class="row">
        
        <div class="container-sm col m-auto p-3">

         <img class="vid rounded-3 mx-auto d-bloc m-5" src="{{ url_for('video') }}" width="50%"/>

          <button class="button btn btn-outline-secondary"> Capture </button>
          <br>
  
        </div>


        <div class="container-sm col m-auto p-2">
          <p> created <span style="color:cyan "> By </span> </p>
            <img class="rounded logo" src="static/img/logo.png" width="50%"/>
        </div>
     </div>
     <form method="post" action="/login/" name="login">
          <div class="row">
            <div class="form-floating col">
                  <input class="form-control form-control-md " type="text" placeholder="name" name = "user_name">
                  <label class="mx-2" for= "user_name"> Name </label>
            </div>

            <div class="form-floating  col">
                  <input class="form-control form-control-md" type="text" placeholder="Id" name = "user_id">
                  <label class="mx-2" for = "user_id"> Id </label>
                  <br>
            </div>

          </div>
            <div class="col-md">
              <div class="form-floating">
                <select class="form-select" name ="years">
                  <option selected>Select your Year: </option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>

                <label for="floatingSelectGrid">Years</label>
              </div>

            <div class="form-floating mt-3 pt-2">
                  <input class="p-2 form-control form-control-sm" type="datetime-local" placeholder="time" name = "user_time">
                  <label for = "user_time"> Expected Time </label>
                  <br>
            </div>

            <input class="btn btn-outline-success m-3 p-3" type="submit">
        </form>


        

    </div>
    <!-- <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright owned by IOT:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
    </footer> -->
</body>

</html>