{% extends 'base.html' %}

{% block content %}
    <div class="container-md mt-5">
        <h2>   This is Que checking page  </h2>

    </div>

    <div class="row">
        
        <div class="col">
            <form action = '/home/' method="post" name = "home">       
                <button name = "home" type="submit" class="btn btn-secondary"> &#x2770; HOME </button>
            </form>
        </div>

        <div class="col"> 
            <form action = '/history/' method="post" name = "history">       
                <button name = "history" type="submit" class="btn btn-secondary"> &#x2771; history </button>
            </form>
        </div>
    </div>


{%endblock%}